// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: block;
    }
}


@mixin size($height, $width) {
    width: $width;
    height: $height;
}
@mixin square($size) {
    @include size($size, $size);
}

// https://codepen.io/kennyglenn/pen/kxqWjP
@function text-contrast($color, $dark, $light, $threshold: 51) {
    @return if(lightness($color) < $threshold, $light, $dark)
}
