@use 'sass:math';

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
    *zoom: 1;
    &::before,
    &::after {
        display: table;
        content: '';
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &::after {
        clear: both;
    }
}

@mixin size($height, $width) {
    width: $width;
    height: $height;
}
@mixin square($size) {
    @include size($size, $size);
}

@mixin vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
    background-color: mix($midColor, $endColor, 80%);
    background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
    background-repeat: no-repeat;
}

@mixin highlight-anchor {
    a:not(.button) {
        color: var(--color--highlight);

        &:hover {
            color: var(--color--highlight-hover);
            text-decoration: none;
        }
    }
}

@function luminance($value) {
    @if $value <= 0.03928 {
        @return math.div($value, 12.92);
    } @else {
        @return math.pow(math.div($value + 0.055, 1.055), 2);
    }
}

@function relative-luminance($color) {
    $rgb: math.div(red($color), 255), math.div(green($color), 255), math.div(blue($color), 255);

    @return luminance(nth($rgb, 1)) * 0.2126 + luminance(nth($rgb, 2)) * 0.7152 + luminance(nth($rgb, 3)) * 0.0722;
}

@function contrast-ratio($color1, $color2) {
    $luminance1: relative-luminance($color1) + 0.05;
    $luminance2: relative-luminance($color2) + 0.05;

    @if $luminance1 > $luminance2 {
        @return math.div($luminance1, $luminance2);
    } @else {
        @return math.div($luminance2, $luminance1);
    }
}

@function text-contrast($color, $dark, $light, $threshold: 4.5) {
    $ratio: contrast-ratio($color, $dark);

    @if $ratio < $threshold {
        @return $light;
    } @else {
        @return $dark;
    }
}
