@use '../../../mixins.scss' as *;

.cw-call-to-action {
    border: solid thin var(--color--courseware-border-default);

    .action-button {
        width: 100%;
        background-color: var(--color--global-background);
        border: none;
        text-align: left;
        padding: 1em;
        cursor: pointer;

        .studip-icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1em;
        }
    }
}