@use '../../../mixins.scss' as *;

.cw-collapsible {
    border: solid thin var(--color--content-box-border);
    margin-bottom: -1px;

    .cw-collapsible-title {
        @include icon(before, arr_1right, $align: middle, $padding: 4px);
        background-color: var(--color--content-box-header);
        padding: 0.5em;
        margin: 0;
        font-weight: 600;
        color: var(--color--highlight);
        cursor: pointer;

        &.cw-collapsible-open {
            @include icon(before, arr_1down, $align: middle, $padding: 4px);

            .cw-container-list-sort-mode {
                margin-top: 8px;
            }
        }
    }

    .cw-collapsible-content.cw-collapsible-content-open {
        padding: 10px;

        .cw-companion-box {
            border: none;
        }
    }
}

form .cw-collapsible .cw-collapsible-content.cw-collapsible-content-open {
    padding: unset;

    label {
        margin: 1.5ex;
    }
}
