.cw-file-input {
    width: stretch;
    border: solid thin var(--light-gray-color-40);
    font-size: 14px;
    cursor: pointer;

    &::file-selector-button {
        font-family: inherit;
        border: none;
        border-right: solid thin var(--light-gray-color-40);
        background-color: var(--white);
        padding: 6px 15px;
        margin-right: 10px;
        color: var(--base-color);
    }

    &:hover {
        border-color: var(--base-color);
        &::file-selector-button {
            background-color: var(--base-color);
            color: var(--white);
        }
    }
}
.cw-file-input-change {
    border: solid thin var(--light-gray-color-40);

    button.button {
        padding: 0.5em 1.5em;
        margin: 0 0 0 -1px;
        line-height: 100%;
        border: none;
        border-right: solid thin var(--light-gray-color-40);
    }

    span {
        padding: 0.5em 1.5em 0.5em 0.5em;
    }

    &:hover {
        border-color: var(--base-color);
    }
}
