$radio-icons: (
    accordion: block-accordion,
    list: view-list,
    tabs: block-tabs,
    full: column-full,
    half: column-half,
    half-center: column-half-centered,
    all: group3,
    users: person,
    groups: group2
);

.cw-radioset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;

    .cw-radioset-box {
        width: 128px;
        height: 128px;
        text-align: center;
        margin-right: 8px;
        border: solid thin var(--content-color-40);
        label {
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
            @include background-icon(radiobutton-unchecked);
            background-position: center 104px;
            background-repeat: no-repeat;

            .label-text {
                height: 48px;
                max-width: 80%;
                overflow: hidden;
                display: grid;
                align-items: center;
                margin: 0 auto;
            }

            .label-icon {
                background-position: center 8px;
                background-repeat: no-repeat;
                height: 48px;
                padding: 4px;

                @each $type, $icon in $radio-icons {
                    &.#{$type} {
                        @include background-icon(#{$icon}, $size: 48px);
                    }
                }
            }

        }
        input[type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;

            &:focus + label {
                outline-color: Highlight;
                outline-color: -webkit-focus-ring-color;
                outline-style: auto;
                outline-width: 1px;
            }
        }

        &.selected {
            border-color: var(--base-color);
            background-color: var(--content-color-20);
            label {
                @include background-icon(check-circle);
                .label-icon {
                    @each $type, $icon in $radio-icons {
                        &.#{$type} {
                            @include background-icon(#{$icon}, $size: 48px);
                        }
                    }
                }
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
