@use '../../../mixins' as *;
@import '../variables';

.cw-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid thin var(--color--content-box-border);
    border-bottom: none;

    button {
        background-color: var(--color--global-background);
        border: none;
        padding: 1em 0 4px 0;
        margin: 0 7px 0 21px;
        color: var(--color--highlight);
        cursor: pointer;
        text-align: center;
        flex-grow: 1;
        max-width: max-content;

        &::after {
            display: block;
            margin-top: 8px;
            margin-bottom: -4px;
            margin-left: -14px;
            width: calc(100% + 28px);
            content: '';
            border-bottom: solid 3px var(--color--tabs-marker-hover);
            transform: scaleX(0);
            transition: transform var(--transition-duration) ease-in-out;
        }

        &.is-active {
            &:after {
                border-bottom: solid 3px var(--color--tabs-marker-active);
            }
        }

        &.is-active,
        &:hover {
            color: var(--color--font-primary);
            &:after {
                transform: scaleX(1);
            }
        }

        @each $icon in $icons {
            &.cw-tabs-nav-icon-text-#{$icon} {
                @include icon(before, $icon, $padding: 4px, $align: middle);
            }
            &.is-active.cw-tabs-nav-icon-text-#{$icon},
            &.cw-tabs-nav-icon-text-#{$icon}:hover {
                color: var(--color--font-primary);
            }
        }

        $cw-tabs-nav-icon-solo-size: 24px;
        @each $icon in $icons {
            &.cw-tabs-nav-icon-solo-#{$icon} {
                @include icon(before, $icon, $size: $cw-tabs-nav-icon-solo-size);
            }
            &.is-active.cw-tabs-nav-icon-solo-#{$icon},
            &.cw-tabs-nav-icon-solo-#{$icon}:hover {
                color: var(--color--font-primary);
            }
        }
    }

    &:hover li {
        &.is-active::after {
            transform: scaleX(0);
        }
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.cw-tabs-content {
    border: solid thin var(--color--content-box-border);
    padding: 4px;
}

.cw-tabs {
    .cw-tab .cw-tab-active {
        padding: 4px 8px;
    }
}
