@import '../variables.scss';

.cw-tiles {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 15px;
    overflow: hidden;
}
.cw-tiles .tile,
.cw-tile {
    height: $tile-height;
    width: $tile-width;
    margin: 0;
    background-color: $color--tile-background;
    &:last-child {
        margin-right: 0;
    }

    @each $name, $color in $tile-colors {
        &.#{'' + $name} {
            border-bottom: solid 5px $color;
            .preview-image:not(.ident-image) {
                border-bottom: solid 5px $color;
            }
        }
    }

    .preview-image {
        height: 180px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--content-color-20);
        background-position: center;
        border-bottom-width: 5px;
        &:not(.ident-image) {
            height: 175px;
        }
        .overlay-handle {
            @extend .drag-handle;
            background-color: $white;
            background-position: center !important;
            height: 22px;
            padding: 4px 8px;
            margin-top: 3px;
            float: left;
            border-left: solid thin var(--content-color-20);
        }


        .overlay-text {
            padding: 6px 7px;
            margin: 4px;
            background-color: rgba(255, 255, 255, 0.8);
            width: fit-content;
            max-width: 100%;
            height: 1.25em;
            overflow: hidden;
            text-overflow: ellipsis;
            float: right;
            text-align: right;
        }

        .overlay-action-menu {
            padding: 0;
            margin: 0.25em;
            background-color: rgba(255, 255, 255, 0.8);
            width: fit-content;
            max-width: 100%;
            overflow: hidden;
            float: right;
            text-align: right;
            .action-menu {
                margin: 5px;
            }
        }
    }

    .description {
        height: calc(100% - 211px);
        padding: 15px;
        color: $color--font-primary;
        position: relative;
        display: block;
        border: solid thin $color--tile-border;
        border-top: none;
        border-bottom: none;

        header {
            font-size: 18px;
            line-height: 20px;
            color: $color--font-primary;
            border: none;
            width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-repeat: no-repeat;
            background-position: 0 0;

            @each $type, $icon in $element-icons {
                &.description-icon-#{$type} {
                    width: 210px;
                    padding-left: 28px;
                    @include background-icon(#{$icon}, info_alt, 22);
                }
            }
        }

        .progress-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 4px 0;
            border: none;
            background: none;

            progress {
                flex-grow: 1;
                appearance: none;
                display: block;
                height: 5px;
                border-radius: 5px;
                margin: 7px 10px 0 0px;
                border: none;
                background: $color--gray-5;
                &::-webkit-progress-bar {
                    background: $color--gray-5;
                }
                &::-webkit-progress-value {
                    background: $color--gray-2;
                }
                &::-moz-progress-bar {
                    background: $color--gray-2;
                }
            }

            .progress-value {

            }
        }

        .description-text-wrapper {
            overflow: hidden;
            height: 120px;
            margin-top: 8px;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            p {
                text-align: left;
            }
        }

        footer {
            width: 242px;
            margin-top: 8px;
            color: $color--font-primary;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                vertical-align: text-bottom;
            }
        }
    }

    a[href].description {
        transition: unset;
    }

    a.description,
    a.description:link,
    a.description:visited,
    a.description:hover {
        height: 210px;
        color: $color--font-primary;
        text-decoration: unset;
    }
}
