parameters:
    level: 0
    phpVersion: 80100 # PHP 8.1
    paths:
        - app/controllers
        - lib
        - tests/functional
        - tests/jsonapi
        - tests/unit
        - tests/_support
    scanDirectories:
        - app/controllers
        - lib
        - vendor
    excludePaths:
        - lib/ilias_interface/studip_referrer_7x.php
        - lib/ilias_interface/studip_referrer_8x.php
    tmpDir: .caches
    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)\.#'
            path: lib/classes/SimpleORMap.php
