.cw-taskgroup-task-item-solver-info {
    display: inline-flex;
    gap: 8px;
}

.cw-task-group-peer-review-processes {
    margin-block-start: 3rem;
}

.courseware-dashboard-tasks > * + * {
    margin-block-start: 2rem;
}