.cw-toolbar {
    z-index: 30;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    margin-left: 4px;
    height: 600px;

    .cw-toolbar-tools {
        width: 270px;
        min-height: 100%;
        border: solid thin var(--color--courseware-border-default);
        background-color: var(--color--global-background);
        overflow: hidden;
        position: relative;
        padding: 0 4px;
        top: 0;
        right: -270px;
        transition: right 0.6s;
        &.hd {
            width: 480px;
            right: -480px;
        }
        &.wqhd {
            width: 558px;
            right: -558px;
        }
        &.unfold {
            right: 0;
        }

        .cw-toolbar-tool-wrapper {
            position: relative;
            height: calc(100% - 50px);
        }

        .cw-toolbar-tool-content {
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--color--scrollbar-thumb) var(--color--global-background);
            padding-right: 6px;
        }

        .cw-toolbar-blocks {
            .input-group.files-search.search {
                margin-bottom: 0;

                .input-group-append .button {
                    height: calc(var(--icon-size-default) + 16px);
                }

                #reset-search {
                    border-radius: 0;
                }
            }
    
            .cw-block-search {
                width: inherit;
            }
    
            .cw-toolbar-tool-header {
                border-bottom: solid thin var(--color--content-box-border);
                margin-bottom: 8px;
                padding-bottom: 8px;
            }

        }
        
        .cw-toolbar-containers {
            position: relative;
            height: 100%;

            .cw-containeradder-item-list {
                height: calc(100% - 120px);
                overflow-y: auto;
                padding-right: 10px;
            }
        }
        
        .cw-toolbar-clipboard {
            .cw-collapsible {
                margin-bottom: 4px;
            }
        }
    }
    .cw-toolbar-folded-wrapper {
        display: flex;
        flex-direction: column;
    }
    .cw-toolbar-button-wrapper {
        position: sticky;
        top: 0;
        background-color: var(--color--global-background);
        border-bottom: solid thin var(--color--courseware-border-default);
        display: flex;
        z-index: 31;
        margin: 0 0 8px -4px;
        width: calc(100% + 8px);
    }
    .cw-toolbar-button {
        height: 44px;
        margin: 0 4px 0 4px;
        padding: 2px 8px 0 8px;
        border: none;
        background-color: var(--color--global-background);
        color: var(--color--highlight);   
        cursor: pointer;
        border-bottom: solid 2px transparent;

        &.cw-toolbar-button-toggle {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            flex-grow: 1;
        }

        &.active {
            color: var(--color--font-primary);
            border-bottom: solid 3px var(--color--tabs-marker-active);
        }
    }
    .cw-toolbar-spacer-right {
        z-index: 39;
        flex-shrink: 0;
        position: relative;
        background-color: var(--color--global-background);
        width: 15px;
        height: calc(100% + 2px);
    }

    .cw-toolbar-tools.hd {
        .cw-toolbar-button-wrapper {
            .cw-toolbar-button {
                min-width: 110px;
                padding: 2px 16px 0 16px;
                &.cw-toolbar-button-toggle {
                    text-align: end;
                }
            }
        }
    }
}
#contents-courseware-courseware,
#course-courseware-courseware {
    #content-wrapper {
        overflow-x: hidden;
    }
}
