.cw-element-selector-list {
    list-style: none;
    padding: 0;

    .cw-element-selector-item {
        display: block;
        width: 100%;
        border: solid thin var(--color--courseware-border-default);
        padding: 0.5em;
        margin-bottom: 5px;
        background-color: var(--color--global-background);
        color: var(--color--highlight);
        text-align: left;
        cursor: pointer;

        &:hover {
            color: var(--color--global-background);
            background-color: var(--color--highlight);
        }
    }
}

form.default .courseware-structural-element-selector {
    list-style: none;
    padding-left: 0;

    .courseware-structural-element-selector-item {
        .studip-icon {
            display: inline-block;
        }

        .radiobutton {
            display: inline-block;
            height: var(--icon-size-default);
            background: none;
            border: none;
            padding: 0;
        }

        a label {
            cursor: pointer;
        }

        label {
            display: inline-block;
            margin-bottom: 0;
            text-indent: 0;
        }

        img {
            vertical-align: middle;
            &.inactive {
                opacity: 0.5;
            }
        }

        ul {
            list-style: none;
            padding-left: 18px;
        }
    }
}
