// base colors
$color--black: #000;
$color--blue-1: #28497c;
$color--blue-2: #36598f;
$color--blue-3: #d0d7e3;
$color--gray-1: #101010;
$color--gray-2: #3c454e;
$color--gray-3: #676767;
$color--gray-4: #909090;
$color--gray-5: #d8d8d8;
$color--gray-6: #ededed;
$color--gray-7: #fbfbfc;
$color--green-1: #6ead10;
$color--green-2: #e2efcf;
$color--red-1: #d60000;
$color--red-2: #f7cccc;
$color--white: #fff;
$color--yellow-1: #ffbc33;
$color--yellow-2: #fff2d6;

// color names

$color--global-background: $color--white;

$color--font-primary: $color--gray-1;
$color--font-secondary: $color--gray-3;
$color--font-inactive: $color--gray-3;
$color--font-inverted: $color--white;


$color--brand-primary: $color--blue-1;
$color--brand-primary-contrast: $color--font-inverted;
$color--brand-secondary: $color--gray-2;
$color--brand-secondary-contrast: $color--font-inverted;

$color--highlight: $color--blue-1;  
$color--highlight-hover: $color--red-1;  
$color--highlight-contrast: $color--font-inverted;

$color--content-link: $color--blue-1; 
$color--content-link-hover: $color--red-1; 

$color--sidebar-item: $color--blue-1;
$color--sidebar-item-hover: $color--gray-1;

$color--main-navigation-background: $color--gray-7;
$color--main-navigation-border: $color--gray-5;
$color--main-navigation-item: $color--blue-1;
$color--main-navigation-item-inactive: $color--gray-4;

$color--sidebar-marker-active: $color--gray-5;
$color--sidebar-marker-active-navigation: $color--blue-1;
$color--sidebar-marker-active-view: $color--yellow-1;
$color--sidebar-marker-focus: $color--gray-5;
$color--sidebar-marker-hover: $color--gray-5;
$color--sidebar-active: $color--gray-6;
$color--sidebar-focus: $color--gray-6;
$color--sidebar-hover: $color--gray-6;
$color--sidebar-divider: $color--gray-6;

$color--action-menu-border: $color--gray-5;
$color--action-menu-divider: $color--gray-6;
$color--action-menu-hover: $color--gray-6;
$color--action-menu-marker-hover: $color--gray-5;
$color--action-menu-shadow: $color--gray-5;

$color--dialog-overlay: $color--gray-1;

$color--tile-border-focus: $color--gray-4;
$color--tile-border-hover: $color--gray-4;
$color--tile-border: $color--gray-5;
$color--tile-background: $color--gray-7;
$color--tile-background-active: $color--gray-6;
$color--tile-background-focus: $color--gray-6;
$color--tile-background-hover: $color--gray-6;
$color--tile-marker-inactive: $color--gray-4;
$color--tile-marker-active: $color--green-1;
$color--tile-marker-attention: $color--yellow-1;
$color--tile-title-background: $color--gray-6;

$color--scrollbar-thumb: $color--gray-5;

$color--content-bar-background: $color--gray-6;

$color--content-box-border: $color--gray-6;
$color--content-box-header: $color--gray-6;
$color--content-box-background: $color--white;

$color--fieldset-header: $color--gray-6;
$color--fieldset-border: $color--gray-6;

$color--tabs-marker-hover: $color--gray-4;
$color--tabs-marker-active: $color--gray-3;

$color--table-header: $color--gray-6;
$color--table-border: $color--gray-6;
$color--table-focus: $color--gray-6;
$color--table-hover: $color--gray-6;

$color--button-inactive-background: $color--gray-7;
$color--button-inactive-background-contrast: $color--font-inactive;
$color--button-inactive-border: $color--gray-5;

$color--radiobuttonset-background: $color--white;
$color--radiobuttonset-background-selected: $color--gray-6;
$color--radiobuttonset-border: $color--gray-6;

$color--input-field-border: $color--gray-5;
$color--input-field-background: $color--white;

$color--divider: $color--gray-6;
$color--line: $color--gray-6;

$color--shadow: $color--gray-4;
$color--focus: $color--gray-4;

$color--warning: $color--red-1;
$color--warning-secondary: $color--red-2;
$color--warning-contrast: $color--font-inverted;
$color--warning-secondary-contrast: $color--font-primary;

$color--attention: $color--yellow-1;
$color--attention-secondary: $color--yellow-2;
$color--attention-contrast: $color--font-primary;
$color--attention-secondary-contrast: $color--font-primary;

$color--good: $color--green-1;
$color--good-secondary: $color--green-2;
$color--good-contrast: $color--font-inverted;
$color--good-secondary-contrast: $color--font-primary;

$color--info: $color--blue-2;
$color--info-secondary: $color--blue-3;
$color--info-contrast: $color--font-inverted;
$color--info-secondary-contrast: $color--font-primary;

$color--image-placeholder-background: $color--gray-6;
$color--image-placeholder-icon: $color--gray-4;

$color-header-inverted: $color--white;