.cw-container {
    margin-bottom: 1em;

    &.cw-container-colspan-full {
        max-width: $max-content-width;
        width: 100%;
    }
    &.cw-container-colspan-half {
        max-width: 540px;
        width: 100%;
    }
    &.cw-container-colspan-half-center {
        width: $max-content-width;
        .cw-container-content {
            max-width: 540px;
            margin: auto;
        }
    }

    .cw-container-header {
        background-color: var(--color--content-box-header);
        padding: 4px 10px 4px 22px;

        .cw-container-header-toggle {
            display: inline-block;
            width: calc(100% - 40px);
        }

        span {
            color: var(--base-color);
            font-weight: 700;
            line-height: 2em;
            font-size: 16px;

            &.cw-default-container-blocker-warning {
                font-weight: 400;
            }
        }

        img {
            vertical-align: middle;
            margin-bottom: 2px;
        }

        .cw-container-actions {
            position: relative;
            float: right;
            margin-top: 4px;
            // z-index: 31;
            .is-open {
                z-index: 31;
            }
        }
    }

    &.cw-container-active {
        &.cw-container-colspan-half-center {
            .cw-container-content {
                max-width: unset;
                .cw-block-wrapper {
                    max-width: 540px;
                    margin: auto;
                }
            }
        }
        .cw-container-content {
            border: solid thin var(--color--content-box-border);
        }
    }


    .cw-block-wrapper {
        padding: 0;
        margin: 0;
        list-style: none;

        &.cw-block-wrapper-active {
            padding: 14px 10px;
        }

        .cw-block-item {
            padding: 0;
            margin: 0 0 1em 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.cw-container-section-delete {
    img {
        cursor: pointer;
    }
}

form.cw-container-dialog-edit-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    fieldset {
        max-width: 200px;
        padding-top: 10px;
    }
}
