@use '../../../mixins.scss' as *;

.cw-block-canvas {
    .cw-canvasblock-canvas {
        max-width: 100%;
        border: solid thin var(--color--courseware-border-default);
    }

    .cw-canvasblock-upload-message {
        display: none;
    }

    .cw-canvasblock-original-img {
        display: none;
    }

    .cw-canvasblock-tool-selected-text {
        cursor: text;
    }

    h1.cw-canvasblock-description {
        border-bottom: none;
    }

    .cw-canvasblock-toolbar {
        display: flex;
        border: solid thin var(--color--content-box-border);
        border-bottom: none;

        .cw-canvasblock-buttonset {
            display: inline-flex;
            padding: 5px;
            margin-right: 0.5em;

            button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                user-select: none;
                border: solid thin var(--color--action-menu-border);
                height: 32px;
                width: 32px;
                background-color: var(--color--global-background);

                &:not(:last-child) {
                    border-right: none;
                }

                &.cw-canvasblock-color {
                    $colors: (
                        white: #ffffff,
                        blue: #3498db,
                        green: #2ecc71,
                        purple: #9b59b6,
                        red: #e74c3c,
                        yellow: #fed330,
                        orange: #f39c12,
                        grey: #95a5a6,
                        darkgrey: #34495e,
                        black: #000000,
                    );

                    @each $name, $color in $colors {
                        &.#{'' + $name}::before {
                            content: '';
                            width: 24px;
                            height: 24px;
                            background-color: $color;
                        }
                    }

                    &.selected-color {
                        border: solid 2px var(--color--highlight);
                        width: 34px;
                    }
                }

                &.cw-canvasblock-reset {
                    @include icon(before, refresh, $size: 24px);
                }

                &.cw-canvasblock-size {
                    &::before {
                        content: '';
                        background-color: var(--color--font-primary);
                        border-radius: 50%;
                    }
                    &.cw-canvasblock-size-small::before {
                        height: 4px;
                        width: 4px;
                    }
                    &.cw-canvasblock-size-normal::before {
                        height: 8px;
                        width: 8px;
                    }
                    &.cw-canvasblock-size-large::before {
                        height: 12px;
                        width: 12px;
                    }
                    &.cw-canvasblock-size-huge::before {
                        height: 16px;
                        width: 16px;
                    }
                    &.selected-size {
                        border: solid 2px var(--color--highlight);
                    }
                }

                &.cw-canvasblock-tool {
                    &.cw-canvasblock-tool-pen {
                        @include icon(before, comment);
                    }

                    &.cw-canvasblock-tool-text {
                        @include icon(before, block-typewriter);
                    }

                    &.selected-tool {
                        border: solid 2px var(--color--highlight);
                    }
                }

                &.cw-canvasblock-undo {
                    @include icon(before, arr_2left, $size: 24px);
                }

                &.cw-canvasblock-download {
                    @include icon(before, download, $size: 24px);
                }

                &.cw-canvasblock-store {
                    @include icon(before, upload, $size: 24px);
                }

                &.cw-canvasblock-show-all {
                    @include icon(before, group2, $size: 24px);

                    &.selected-view {
                        border: solid 2px var(--color--highlight);
                    }
                }

                &.cw-canvasblock-show-own {
                    @include icon(before, person, $size: 24px);

                    &.selected-view {
                        border: solid 2px var(--color--highlight);
                    }
                }
            }
        }
    }

    .cw-canvasblock-tool-selected-text {
        cursor: text;
    }
}
