@use '../../../mixins.scss' as *;

// folder block
.cw-block-folder-info {
    border: solid thin var(--color--content-box-border);
    padding: 10px 10px 0 10px;
    overflow: hidden;
    border-bottom: none;
}

.cw-block-folder-list {
    border: solid thin var(--color--content-box-border);
    padding: 0;
    list-style: none;

    .cw-block-folder-file-item {
        list-style: none;

        &:not(:last-child) {
            border-bottom: solid thin var(--color--content-box-border);
        }

        a {
            display: block;
        }

        &:hover {
            background-color: hsla(217, 6%, 45%, 0.2);
        }
    }

    .cw-block-folder-download-icon {
        @include icon(before, download, $size: 24px);
        float: right;
        height: 24px;
        width: 24px;
        margin: 1em;
    }
}

.cw-block-folder-upload {
    border: solid thin var(--color--content-box-border);
    padding: 1em 10px;
    border-top: none;

    .cw-file-input {
        width: calc(100% - 148px);
        vertical-align: middle;
    }
}

// for folder and download block
.cw-block-file-info {
    @include icon(before, file, $size: 24px, $padding: 4px, $align: middle);
    display: block;
    padding: 16px;
    width: calc(100% - 56px);
    min-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

    &.cw-block-file-icon-empty {
        color: var(--color--font-primary);
        @include icon(before, folder-empty, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-none {
        color: var(--color--font-primary);
        @include icon(before, file, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-audio {
        @include icon(before, file-audio, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-pic {
        @include icon(before, file-pic, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-video {
        @include icon(before, file-video, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-pdf {
        @include icon(before, file-pdf, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-word {
        @include icon(before, file-word, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-spreadsheet {
        @include icon(before, file-excel, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-text {
        @include icon(before, file-text, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-ppt {
        @include icon(before, file-ppt, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-archive {
        @include icon(before, file-archive, $size: 24px, $padding: 4px, $align: middle);
    }

    &.cw-block-file-icon-file {
        @include icon(before, file, $size: 24px, $padding: 4px, $align: middle);
    }

    &.download-disabled {
        color: var(--color--font-inactive);
    }
}
.cw-block-file-details {
    margin-top: -16px;
    padding-left: 40px;
    padding-bottom: 16px;
    color: var(--color--font-secondar);
}
.cw-block-file-owner,
.cw-block-file-mkdate {
    display: block;
    width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;
}

// download block
.cw-block-download {
    .cw-block-download-content {
        border: solid thin var(--color--content-box-border);

        .cw-block-download-file-item {
            a {
                display: block;
            }

            &:hover {
                background-color: var(--color--table-hover);
            }

            .cw-block-download-download-icon {
                @include icon(before, download, $size: 24px);
                float: right;
                height: 24px;
                width: 24px;
                margin: 1em;
            }
        }
    }
}
