@use '../../../mixins.scss' as *;

.cw-block-link {
    a {
        text-decoration: none;
    }

    .cw-link {
        border: solid thin var(--color--highlight);
        color: var(--color--highlight);
        padding: 1em;

        .cw-link-title {
            &.unit {
                header {
                    font-size: 16px;
                }
            }
        }

        &:hover {
            background-color: var(--color--highlight);
            color: var(--color--highlight-contrast);
        }

        &.internal {
            @include icon(before, link-intern, $size: 28px, $align: middle, $padding: 8px);
        }

        &.external {
            @include icon(before, link-extern, $size: 28px, $align: middle, $padding: 8px);

            .cw-link-og-image {
                display: inline-block;
                max-width: 40%;
                vertical-align: top;
                margin-right: 2em;
            }

            .cw-link-og-textwrapper {
                display: inline-block;
                max-width: 50%;

                p {
                    margin: 0;
                }

                .cw-link-og-site {
                    font-size: 1.25em;
                }

                .cw-link-og-title {
                    font-weight: 600;
                }

                .cw-link-og-description {
                    color: var(--color--font-secondary);
                    text-align: justify;
                }
            }
        }

        &.unit {
            height: unset;
            display: flex;
            gap: 8px;

            .cw-unit-link {
                background-repeat: no-repeat;
                background-size: 270px 180px;
                background-position: center;
                min-width: 270px;
                height: 180px;
            }

            .cw-link-title {
                p {
                    color: var(--black);
                }
            }

            &:hover {
                background-color: unset;
                border: solid thin var(--color--highlight);
                .cw-link-title {
                    header {
                        color: var(--color--content-link-hover);
                    }

                }
            }
        }
    }
}
