@use '../../../mixins.scss' as *;

.cw-block-lti {
    .cw-block-content {
        .cw-block-lti-content {
            border: solid thin var(--color--courseware-border-default);
            box-sizing: border-box;
        }

        .cw-block-lti-icon-tool {
            @include icon(before, plugin, $size: 24px, $align: middle);
            display: block;
            padding: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
