@use '../../../mixins' as *;
@import '../variables';

.cw-block-table-of-contents {
    .cw-block-content {
        overflow: unset;
    }
}

.cw-block-table-of-contents-list {
    padding: 0;
    list-style: none;
    border: solid thin var(--color--courseware-border-default);
    li {
        &:not(:last-child) {
            border-bottom: solid thin var(--color--courseware-border-active);
        }
        a {
            display: block;
            padding: 1em;
        }
        &:hover {
            background-color: var(--color--courseware-background-highlight);
        }
    }
}

.cw-block-table-of-contents-list-details {
    padding: 0;
    list-style: none;
    border: solid thin var(--color--courseware-border-default);
    li {
        &:not(:last-child) {
            border-bottom: solid thin var(--color--courseware-border-active);
        }

        &:hover {
            background-color: var(--color--courseware-background-highlight);
        }
        a {
            display: block;
            padding: 1em;
        }
    }
}

.cw-block-table-of-contents-title-box {
    min-height: 3em;
    padding-left: 1em;
    border-left-width: 10px;
    border-left-style: solid;

    @each $name, $color in $tile-colors {
        &.#{'' + $name} {
            border-color: $color;
        }
    }

    p,
    p:hover {
        color: var(--color--font-primary);
    }
}

.cw-container-colspan-half {
    .cw-block-table-of-contents-tiles.cw-tiles {
        .tile {
            width: 267px;
        }
    }
}
