@import '../variables';

%clearfix {
    &:after, &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

.cw-timeline {
    list-style: none;
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0;
    transition: all 0.4s ease;

    &:before {
        content:"";
        width: 3px;
        height: 100%;
        background: var(--color--courseware-border-default);
        left: 50%;
        top: 0;
        position: absolute;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }

    .cw-timeline-item {
        margin-bottom: 50px;
        position: relative;
        @extend %clearfix;

        .cw-timeline-item-icon {
            background: var(--color--global-background);
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 50%;
            overflow: hidden;
            margin-left: -25px;
            @each $name, $color in $tile-colors {
                &.cw-timeline-item-icon-color-#{"" + $name} {
                    border: solid 2px $color;
                    color: $color;
                }
            }

            border-radius: 50%;

            .studip-icon {
                position: relative;
                top: 9px;
                left: 9px;
            }
        }

        .cw-timeline-item-content {
            width: 40%;
            background: var(--color--global-background);
            padding: 20px;
            transition: all var(--transition-duration) ease;

            h3 {
                padding: 15px;
                color: var(--color--font-inverted);
                margin: -20px -20px 0 -20px;
                font-weight: 700;
                min-height: 1.1em;
            }

            article {
                min-height: 2em;
                border: solid thin var(--color--courseware-border-active);
                border-top: none;
                margin: 0 -20px;
                padding: 15px;

                header {
                    font-weight: 700;
                    font-size: 1.1em;
                    margin: 0.5em 0;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: calc(40% + 40px);
                top: 18px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
            }
            &.left {
                h3 {
                    text-align: right;
                }
            }
            &.right {
                float: right;

                h3 {
                    text-align: left;
                }

                &:before {
                    content: '';
                    right: calc(40% + 40px);
                    left: inherit;
                    border-left: 0;
                }
            }

            @each $name, $color in $tile-colors {
                &.cw-timeline-item-content-color-#{"" + $name} {
                    border-color: $color;
                    h3 {
                        background-color: $color;
                    }
                    &.left {
                        &:before {
                            border-left: 7px solid $color;
                        }
                    }
                    &.right {
                        &:before {
                            border-right: 7px solid $color;
                        }
                    }
                }
            }
        }
    }
}
@mixin oneSidedTimeline() {
    .cw-timeline {
        &:before {
            left: 25px;
        }
        .cw-timeline-item {
            .cw-timeline-item-icon {
                left: 25px;
            }
            .cw-timeline-item-content {
                width: stretch;
                margin-left: 70px;
                &.left {
                    float: unset;

                    h3 {
                        text-align: left;
                    }

                    &:before {
                        content: '';
                        right: calc(100% - 70px);
                        left: inherit;
                        border-left: 0;
                    }
                }
                &.right {
                    float: unset;
                    &:before {
                        right: calc(100% - 70px);
                    }
                }

                @each $name, $color in $tile-colors {
                    &.cw-timeline-item-content-color-#{"" + $name} {
                        &.left {
                            &:before {
                                border-right: 7px solid $color;
                                border-left: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.cw-container-colspan-half {
    @include oneSidedTimeline;
}

@media only screen and (max-width: 1070px) {
    @include oneSidedTimeline;
}
