@import "mixins";
@import "scss/breakpoints";
@import "scss/visibility";
@import "scss/fullcalendar-print";
@import "scss/resources-print";


/*******************************************************************************
    Druck-Stylesheet für Stud.IP
    - nur pt Größenangaben verwenden
    - auf background-colors verzichten (werden nicht gedruckt)
*******************************************************************************/

@page {
    margin: 15mm;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: none;
    height: auto;
}

body, input, textarea, td, th, blockquote, p, form, ul, h4 {
    font-size: 10pt;
}

#content {
    margin-right: 0;
}

#top-bar, #navigation-level-1, #navigation-level-2,
#page-title-container, #responsive-contentbar-container, #sidebar, #edit_inst_entry,
.messagebox_buttons a.close, a.button, button.button,
#skip_link_navigation, #skiplink_list, .skip_target, .action-menu {
    display: none !important;
}

img {
    border: 0;
}

a, a:link, a:visited {
    color: var(--black);
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
}

h1, .topic {
    font-size: 15pt;
    margin: 3pt 0 2pt 0;
}

h1 span {
    display: block;
    font-size: 14.25px;
    font-weight: 100;
    padding: 5px 0;
}

section header h1 {
    font-size: 12pt;
    margin-top: 8pt;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 12pt;
}

td.angemeldet {
    border: 1pt solid var(--black);
}

td.rahmen_white {
    border: 1pt solid var(--black);
    background: var(--white) none;
}

td.rahmen_steel {
    border: 1pt solid var(--black);
    background-color: #f3f5f8;
}

td.rahmen_table_row_odd {
    border: 1pt solid var(--black);
    background-color: #ebebeb;
}

.hidden {
    display: none;
}

/* --- stud.ip-title oben  -------------------------------------------------- */
#site-title {
    font-weight: normal;
    display: block !important;
    font-size: 18pt;
    padding: 0 0 2pt 0;
    margin: 0 0 5pt 0;
    border-bottom: 1pt solid var(--black);

}

/* --- studip-logo im footer ------------------------------------------------ */
#main-footer * {
    display: none;
}


#main-footer {
    width: 100%;
    text-align: center;
    padding: 2pt 0 0 0;
    margin: 5pt 0 0 0;
    border-top: 1pt solid var(--black);

    &:after {
        content: url('../images/logos/logo2b.png');
    }
}

/* course date entries in the schedule need to be styled for print view: */
.fc-event.schedule {
    &.course-color-1, &.course-color-2, &.course-color-3, &.course-color-4,
    &.course-color-5, &.course-color-6, &.course-color-7, &.course-color-8,
    &.course-color-9 {
        color: $black;
        background-color: $white;
        border-color: $black;
    }
}

/* aus style.css */
h1.content, h2.content, h3.content {
    color: var(--base-color);
}

hr.content {
    margin: 0 1em;
    background-color: #555555;
    border-radius: 5px;
    height: 1px;
    border: none;
}

table.content {
    border-collapse: collapse;

    td {
        border: thin solid #666666;
        padding: 3px;
    }
}

div.content {
    background-color: #f3f5f8;
    clear: both;
    margin: 0;
    overflow: hidden;
    padding: 2px;
}

.quote {
    background: #eeeeee none;
    border: 1px solid var(--black);
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
}

td.quote {
    border: 1px solid var(--black);
    font-size: 8px;
}

a.link-intern {
    padding-left: 18px;
    @include background-icon(intern);
    background-repeat: no-repeat;
}

a.link-extern {
    padding-left: 18px;
    @include background-icon(link-extern);
    background-repeat: no-repeat;
}

.formatted-content {
    display: inline;
}


#context-title {
    font-size: 24px;
    color: var(--color--font-primary);
    height: 30px;
    padding: 10px 15px 5px 15px;
    margin-bottom: 10px;
    max-height: 30px;
    overflow: hidden;
    background-color: var(--color--main-navigation-background);
    text-overflow: ellipsis;
    max-width: calc(100vw - 110px);
    white-space: nowrap;

    > .context-avatar {
        margin: 0 5px 0 -6px;
        vertical-align: top;
        max-width: 36px;
        max-height: 36px;
    }

    > .course-type {
        font-style: normal;
    }
    > .course-name {
        font-weight: 700;
    }
    > .course-semester {
        font-style: oblique;
    }
}
