// TODO: LESSify

/* --- Styles fuer Terminkalender ------------------------------------------- */
a.day {
    font-weight: bold;
}

a.sday {
    color: var(--red);
    font-weight: bold;
}

a.hday {
    color: var(--red-80);
    font-weight: bold;
}

span.kwmin {
    color: var(--dark-gray-color-80);
    font-weight: bold;
}

a.lightday {
    color: var(--base-color-40);
    font-weight: bold;
}

a.lightsday {
    color: var(--red-40);
    font-weight: bold;
}

.inday {
    font-size: 8pt;
}

.precol1w {
    font-size: 12pt;
    font-weight: bold;
    color: var(--light-gray-color);
    text-align: center;
    vertical-align: top;
}

.precol2w {
    font-size: 8pt;
    font-weight: bold;
    color: var(--light-gray-color);
    text-align: center;
}

td.calhead, div.calhead {
    font-size: 18pt;
    font-weight: bold;
    color: var(--light-gray-color);
    text-align: center;
}

a:link.calhead {
    color: var(--base-color-60);
    white-space: nowrap;
    font-weight: bold;
}

a:hover.calhead {
    color: var(--red-60);
}

.calhead label {
  cursor: pointer;
  &:hover {
    color: var(--base-color-40);
  }

  .media-breakpoint-small-down({
    .button();

    img {
      padding-left: 0.5em;
      vertical-align: middle;
    }
  })
}

.celltoday {
    background-color: var(--red-20);
}

td.weekend {
    background-color: var(--dark-gray-color-15);
}

td.weekday {
    background-color: var(--dark-gray-color-5);
}

td.current {
    padding: 2px;
    border: 2px solid var(--red);
}

table.calendar-week, table.calendar-day {
    border-spacing: 0;
    table-layout: fixed;
    td {
        padding: 0;
    }
}

table.calendar-month {
    width: 100%;
    tr td {
        max-width: 90px;
        min-width: 90px;
        vertical-align: top;
    }
}

td.month {
    background-color: fadeout(darken(@dark-gray-color-15, 5), 30);
    padding: 3px;
    div {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

td.lightmonth {
    background-color: fadeout(darken(@dark-gray-color-5, 5), 30);
    padding: 3px;
    div {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

table.calendar-month td.calendar-month-week {
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: 80px;
}

td.weekdayevents {
    width: 90px;
}

nav.calendar-nav {
  display: flex;
  align-items: center;
  padding-bottom: 1em;

  > div {
    flex: 1 1 auto;
  }

  .calhead {
    color: var(--base-color);
  }
}

.calendar-day-edit {
    text-align: right;
    font-size: 0.8em;
}

.calendar-week tbody tr, .calendar-day tbody tr {
    transition: background-color 0.3s;
    &:hover {
        background-color: fadeout(@dark-gray-color-5, 40%);
    }
    & td {
        padding: 3px;
        border-bottom: 1px solid var(--dark-gray-color-5);
    }
}

.calendar-day-event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        color: var(--dark-gray-color);
    }
}

.calendar-category-mixin(@color-bg) {
    vertical-align: top;
    font-size: 11px;
    color: var(--white);
    padding: 0;
    /* necessary for All-day Events */
    a {
        color: contrast(@color-bg, black, white, 60%);
        font-weight: 600;
    }
}

.calendar-single-year {
  .calendar-single-year--table {

    > thead th {
      min-width: 5em;
      text-align: left;
    }

    .yday {
      white-space: nowrap;
    }
  }
}


.calendar-tooltip {
    display: none;
    font-size: 0.8em;
}


#exc-dates {
    padding: 2px;
    list-style-type: none;
    width: 7.5em;
    min-height: 5em;
    max-height: 10em;
    overflow: auto;
    border: 1px solid var(--dark-gray-color-60);

    img {
        vertical-align: text-top;
    }
    input:checked ~ span {
        text-decoration: line-through;
        opacity: 0.6;
    }
}

/* --- Styles fuer TerminZeile ---------------------------------------------- */
table.tabdaterow {
    background-color: white;
}

td.tddaterowp {
    border: 1px solid var(--white);
    background-color: var(--dark-gray-color-10);
    font-weight: bold;
    color: var(--dark-green);
    font-size: 8pt;
}

td.tddaterowpx {
    border: 1px solid var(--active-color);
    background-color: var(--dark-gray-color-10);
    font-weight: bold;
    color: var(--dark-green);
    font-size: 8pt;
}


.recurrences {
    width: 100%;
    float: none;
    list-style: none;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    li {
        display: block;
        width: 100%;
    }
    input.rec-select {
    }
    .rec-label {
        cursor: pointer;
    }
    .rec-label:hover {
    }
    .rec-content {
        display: none;
        position: relative;
        padding-left: 3em;
    }
    [id^="rec"]:checked + label.rec-label {
    }
    [id^="rec"]:checked ~ [id^="rec-content"] {
    display: block;
    }
}
