.action-menu.filter {
    margin-left: 1em;
}

.action-menu.filter:not(.is-open) .action-menu-icon {
    @include icon(before, settings);
    color: var(--color--highlight);
    span {
        display: none;
    }
}
