.hover_box {
    div {
        display: inline;
    }
    .action_icons {
        display: inline;
        margin-left: 15px;
    }
}

.condition {
    margin-left: 20px;
}

.check_actions {
    font-weight: normal;

    a {
        cursor: pointer;
    }
}

.institute-assignment,
.rule-assignment,
.course-assignment {

    span {
        display: inline-block;
        margin-left: 15px;
        vertical-align: top;
    }

    .edit-assignment,
    .delete-assignment {
        display: inline;
        vertical-align: middle;
    }
}

form.default {
    fieldset.select_terms_of_use {

        > label {
            padding: 10px 7px;
        }

        .admission-rule-incompatible {
            border: 1px solid var(--content-color-40);
            color: var(--content-color-80);
            display: block;
            margin: -1px 0;
            padding: 10px 5px 10px 7px;

            div {
                text-decoration: unset;
            }

            img {
                margin-right: 10px;
                margin-top: -5px;
                vertical-align: middle;
            }
        }
    }

    .admission-condition {
        .condition-description {
            display: inline-block;
        }

        img {
            vertical-align: text-bottom;
        }
    }
}

form {
    fieldset {
        section {
            .search-button {
                margin-top: 25px;
            }
        }
    }
}
