option {
  &.faculty {
    font-weight: bold;
  }
  &.sub_institute {
    padding-left: 15px;
  }
}

div {
  &#wizard-participating, &#wizard-lecturers, &#wizard-deputies, &#wizard-tutors {
    margin-top: 5px;
    margin-left: 25px;
    div.description {
      font-style: italic;
    }
  }
  &#assigned {
    float:left;
    padding-right: 10px;
    width: calc(50% - 10px);
  }
  &#studyareas {
    border-left: 1px solid var(--base-gray);
    float: left;
    padding-left: 10px;
    width: calc(50% - 20px);

    #sem-tree-search-wrapper {
      max-width: 25em;
      border: solid thin var(--color--input-field-border);
      border-radius: var(--border-radius-search);
      margin-bottom: 1em;
      padding: 0 0 0 5px;

      &:focus-within {
        border: solid 2px var(--black);
      }
  
      #sem-tree-search {
        border: none;
        outline: none;
      }
  
      #sem-tree-search-start {
        height: 30px;
        border-left: solid thin #ccc;
        display: inline-block;
        width: 30px;

        input {
          vertical-align: middle;
          padding: 5px 7px;
        }
      }
    }

  }
}

/*
change order for AdvancedBasicDataWizardStep
so we do not have to copy the basicdata/index.php
*/
form.course-wizard-step-0 {
   display: flex;
   flex-direction: column;
    
   > * {
        order: 1;
    }
    section:nth-of-type(2) {
        order: 2;
    }
    section:nth-of-type(3) {
        order: 3;
    }
    section:nth-of-type(4) {
        order: 5;
    }
    section:nth-of-type(5) {
        order: 9;
    }
    section:nth-of-type(6) {
        order: 10;
    }
    section:nth-of-type(7) {
        order: 11;
    }
    section:nth-of-type(8) {
        order: 12;
    }
    section:nth-of-type(9) {
        order: 13;
    }
    section:nth-of-type(10) {
        order: 11
    }
    section:nth-of-type(11) {
        order: 4;
    }
    section:nth-of-type(12) {
        order: 6;
    }
    section:nth-of-type(13) {
        order: 7;
    }
    section:nth-of-type(14) {
        order: 8;
    }
    footer {
        order: 100;
    }
}
