/*
 * Fullcalendar rules for printing calendars.
 */
@media print {

    .fc {
        /* Disable page breaks inside the calendar: */
        page-break-inside: avoid;

        /*
         * Hide the buttons:
         */
        .fc-button-group {
            display: none;
        }

        /*
         * Hide the now indicator:
         */
        .fc-timegrid .fc-timegrid-now-indicator-container {
            display: none;
        }

        /*
         * In case the calendar is smaller than the page width,
         * it shall not look like there is some content missing on the right side:
         */
        .fc-scrollgrid {
            width: unset;
            max-width: 100%;
        }

        /*
         * Make sure that events are printed in black and white
         * when their colours are not set explicitly:
         */
        .fc-event-main, .fc-v-event {
            background-color: $white;
            border-color: $black;

            /*
             * Set the text colour for event content to black:
             */
            .event-content {
                color: $black;
            }


            /*
             * Position icons with the text and make them black:
             */
            .icons {
                display: inline-block;
                vertical-align: top;
                color: $black;
            }
        }

        /*
         * Do not colour the current day in case someone wants to print
         * with backgrounds:
         */
        .fc-timegrid-col.fc-day-today {
            background-color: unset;
        }
    }

    /*
     * Hide a potential existing map key list:
     */
    .map-key-list {
        display: none;
    }
}
