$icon-colors: (
    accept: good,
    attention: warning,
    info_alt: white,
    inactive: font-inactive,
    new: red-1,
    status-green: green-1,
    status-red: red-1,
    status-yellow: yellow-1,

// This are disabled for now since they should be coloured in a different way
//    clickable: blue,
//    info: black,
//    navigation: blue,
//    sort: blue,
);

.studip-icon {
    display: inline-block;

    @each $role, $color in $icon-colors {
        &.icon-role-#{$role} {
            color: var(--color--#{$color});
        }
    }
}
