// TODO: SCSSify

html {
    height: 100vh;
    overflow-y: auto;
}

body {
    display: grid;
    background-color: var(--white);
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: $grid-gap;
    grid-template-columns: ($sidebar-width + $sidebar-padding) minmax(auto, calc(100vw - $sidebar-width - $sidebar-padding));
    grid-template-rows: auto 1fr auto;

    &::backdrop {
        background: var(--white);
    }
}

/* --- Layouts -------------------------------------------------------------- */

#tabs {
    width: 100%;
    flex: 1;
    padding-left: $page-margin;
    transition: margin-left;
    transition-duration: var(--transition-duration);
    transition-delay: 500ms;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

body#login #content-wrapper {
    background: unset;
}

#content-wrapper {
    background:
        linear-gradient(90deg, var(--white) 30%, hsla(0, 0%, 100%, 0)),
        linear-gradient(90deg, hsla(0, 0%, 100%, 0), var(--white) 70%) 100% 0,
        radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, .2), transparent),
        radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), transparent) 100% 0;
    background-attachment: local, local, scroll, scroll;
    background-repeat: no-repeat;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    display: inline-flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: flex-start;
    overflow-x: auto;
    padding: $page-margin;
    padding-bottom: calc($page-margin + 35px);
    padding-left: $page-margin * 2;
    vertical-align: top;

    .oversized & {
        overflow: visible;
    }

    .no-sidebar & {
        grid-column: 1 / 3;
        padding-left: 15px;
    }
}

#content {
    flex: 1;
    max-width: 100%;
}

// for old pages without template layout
#layout_table {
    background-color: var(--light-gray-color-60);
    border: 20px solid var(--white);
    margin: 0;
    padding: 0;
    width: 100%;

    td { vertical-align: top; }
}

#page-title-container {
    float: left;
    background-color: var(--white);
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 45px;
}

#page-title {
    font-weight: bold;
    font-size: 1.4em;
    position: relative;
    top: 20px;
}

#main-footer {
    background-color: var(--color--brand-primary);
    color: var(--white);
    display: flex;
    padding: 2px 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-content: space-between;
    line-height: $footer-height - 4px;
}

#main-footer-info {
    margin-left: 8px;
}

#main-footer-navigation {
    flex-grow: 1;
    ul {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;

        li {
            margin-left: 2px;
            margin-right: 2px;

            a {
                color: var(--white);
                margin: 0 6px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
