.lti {
    .copyable-input {
        margin-top: 3px;
        margin-bottom: 6px;
    }

    .header {
        display: flex;
        background-color: var(--color--fieldset-header);
        margin-bottom: 15px;

        &__content {
            padding: 10px 15px;
            flex: 1 1 0%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            &--with-actions {
                .actions {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .go-back-link {
                margin-top: 4px;
            }

            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .styleless {
        padding: 0;
        background: none;
        border: none;
    }

    .status-label {
        padding: 4px 8px;
        border-radius: 10px;
        font-size: small;

        &--success {
            background-color: var(--color--green-1);
            color: var(--white);
        }

        &--warning {
            background-color: var(--color--yellow-1);
        }
    }

    .button {
        &--icon-only {
            min-width: unset;
            margin: 0;
            padding: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--icon-label {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }

    .select-input-group {
        margin-bottom: 12px;

        label {
            margin-bottom: 0 !important;
        }
    }

    .registration-form {
        .registration-description,
        .registration-data-protection-notes {
            margin-bottom: 12px;

            label {
                margin-bottom: 0;
            }

            .ck-editor {
                margin-top: 4px;
                max-width: 48em;
            }
        }
    }

    .resource-form {
        .icons-input-label-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-top: 12px;
            margin-bottom: 4px;

            label {
                margin-bottom: 0;
            }
        }
    }

    button.styleless {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .tools-card-container {
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));

        &--fill-free-space {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        &--full-width {
            grid-column: 1 / -1;
        }
    }

    .tool-card {
        height: 100%;
        display: flex;
        color: unset;
        text-decoration: none;
        border: 1px solid var(--color--divider);

        &__flag {
            width: 10px;
        }

        &--create {
            border-style: dashed;

            .studip-card {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;

                &:hover {
                    background-color: var(--color--tile-background);
                }
            }
        }

        .studip-card {
            flex: 1;
            border: none;

            &__title {
                display: flex;
                gap: 10px;
            }
        }

        &:not(&--iframe) .studip-card {
            &__title {
                color: var(--color--content-link);
                transition: color var(--transition-duration);
            }

            &:hover {
                .studip-card__title {
                    color: var(--color--content-link-hover);
                    text-decoration: underline;
                }
            }
        }

        &--iframe {
            iframe {
                height: 75vh;
                border-radius: 10px;
                border: 1px solid var(--brand-color-lighter);
                box-shadow: 0 8px 24px var(--shadow-color);
                background-color: var(--white);
                overflow: hidden;
                transition: all var(--transition-duration) ease;
            }

            .studip-card__title {

                .studip-icon {
                    width: 30px !important;
                    height: 30px !important;
                }
            }
        }
    }

    .use-utility-classes {
        .flex {
            display: flex;
        }
        .items-center {
            align-items: center;
        }
        .justify-start {
            justify-content: flex-start;
        }
        .justify-end {
            justify-content: flex-end;
        }
        .gap-2 {
            gap: 2px;
        }
        .gap-5 {
            gap: 5px;
        }
        .mb-10 {
            margin-bottom: 10px;
        }
    }
}
