/* --- MessageBoxes --------------------------------------------------------- */
.messagebox {
    display: grid;
    grid-template-columns: 32px auto 16px; 
    gap: 16px;
    grid-auto-rows: min-content;
    background-color: #ccc;
    border-top: solid 2px #888;
    margin-bottom: 15px;
    padding: 15px;
    border-top: 2px solid;

    .messagebox-icon {
        background-repeat: no-repeat;
    }

    .messagebox-button {
        background: transparent no-repeat center center;
        background-size: 16px 16px;
        border: none;
        display: inline-block;
        margin: 1px;
        width: 16px;
        height: 16px;
        cursor: pointer;

        &.messagebox-close {
            @include background-icon(decline);
            vertical-align: top;
        }
        &.messagebox-details-toggle {
            @include background-icon(arr_1down);
            background-position: left center;
            padding-left: 16px;
            line-height: 16px;
        }
    }
    &.details_hidden {
        .messagebox-button.messagebox-details-toggle {
            @include background-icon(arr_1right);
        }
        .messagebox-details { height: 0; visibility: hidden;}
    }

    .messagebox-content {
        text-align: left;

        .messagebox-message {
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 0;
        }
    }
}

// Messagebox definitions
@mixin messagebox ($name, $color, $background-color, $main-color: $color, $image: $name, $full-border: false) {
    div.messagebox_#{$name} {
        color: $color;
        background-color: $background-color;
        border-color: $main-color;

        @if $full-border {
            border: solid 2px $main-color;
        }
        .messagebox-icon {
            height: 32px;
            width: 32px;
            border-radius: 16px;
            @include background-icon(#{$image}, info_alt);
            background-color: $main-color;
            background-size: 20px 20px;
            background-position: center;
        }
    }
}

@include messagebox(info, var(--black), var(--content-color-20), var(--base-color), info);
@include messagebox(success, var(--black), var(--green-20), var(--dark-green), accept);
@include messagebox(error, var(--black), var(--red-20), var(--red), decline);
@include messagebox(exception, var(--black), var(--red-20), var(--red), decline, true);
@include messagebox(warning, var(--black), var(--yellow-20), var(--yellow), exclaim);

// Define modal messagebox
.modaloverlay {
    background: fade-out($base-color, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10vh 20vw;

    .messagebox {
        display: inline-block;
        zoom: 1; // IE :(
        box-sizing: border-box;
//        position: relative;
        vertical-align: middle;
        margin: auto;

        position: relative;
        max-height: 50%;
        min-width: 30em;
        max-width: 50%;
        width: auto;

        color: #000;
        border-color: var(--yellow);
        background-color: white;
        background-image: url("@{image-path}/messagebox/question.png");
        background-size: 32px 32px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

        .content {
            max-height: 200px;
            overflow: auto;
            text-align: left;
        }
        .buttons {
            margin-top: 1em;
            text-align: center;
        }
    }
    .ui-dialog {
        display: inline-block;
        zoom: 1; // IE :(
        box-sizing: border-box;
        position: relative;
        vertical-align: middle;
        margin: auto;
    }
}
