.missing_course {
    .content {
        font-weight: bold;
    }
    border: 2px solid var(--red);
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
    background: var(--white);
}

form.default table.mycourses-group-selector {
    table-layout: fixed;
    width: unset;

    td {
        width: 2em;
    }
}

form.default td.mycourses-group-selector {
    position: relative;

    background-clip: padding-box;
    border: 1px solid fade-out($brand-color-lighter, 0.8);

    input[type="radio"] {
        @extend .sr-only;

        &:checked + label {
            .group-number {
                display: none;
            }
            .checked-icon {
                display: inline;
            }
        }
    }

    &:hover label {
        .group-number {
            display: none;
        }
        .checked-icon {
            display: inline;
        }
    }

    label {
        text-align: center;
        font-size: large;
        font-weight: bold;
        cursor: pointer;

        background-color: var(--white);
        margin-bottom: 0;
        text-indent: 0;

        height: 1.2em;

        .group-number {
            display: inline;
        }
        .checked-icon {
            display: none;
        }
    }
}

$icon-padding: 3px;

.my-courses-navigation {
    list-style: none;
    margin: 0 0 -10px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}
.my-courses-navigation-item {
    margin: 0 3px 10px 0;

    a {
        display: inline-block;
        padding: $icon-padding;
    }

    &:last-child {
        margin-right: 0;
    }

    img {
        vertical-align: bottom;
    }

    .empty-slot {
        display: inline-block;
        padding-left: $icon-padding;
        padding-right: $icon-padding;
    }
}
.my-courses-navigation-important {
    $border-width: 1px;
    border: $border-width solid var(--red);

    a {
        padding: $icon-padding - $border-width;
    }
}
