.missing_course {
    .content {
        font-weight: bold;
    }
    border: 2px solid $red;
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
    background: $white;
}

form.default .mycourses-group-selector {
    position: relative;

    background-clip: padding-box;
    border: 1px solid fade-out($brand-color-lighter, 0.8);

    input[type="radio"] {
        @extend .sr-only;

        &:checked + label {
            .group-number {
                display: none;
            }
            .checked-icon {
                display: inline;
            }
        }
    }

    &:hover label {
        .group-number {
            display: none;
        }
        .checked-icon {
            display: inline;
        }
    }

    label {
        text-align: center;
        font-size: large;
        font-weight: bold;
        cursor: pointer;

        background-color: var(--white);
        margin-bottom: 0;
        text-indent: 0;

        height: 1.2em;

        .group-number {
            display: inline;
        }
        .checked-icon {
            display: none;
        }
    }
}
