.mvv-ovl-selection {
    margin-bottom: 25px;
}

.mvv-ovl-base-abschnitt {
    position: relative;
    margin-bottom: 5px;
    font-weight: 700;
    border-bottom: 1px solid var(--light-gray-color-40);

    h2 {
        position: relative;
        left: 5px;
        top: 7px;
        padding-right: 150px;
        margin-top: 0;
        font-size: 1em;
    }

    & > div {
        position: absolute;
        right: 0;
        bottom: 0;
        white-space: nowrap;

        div {
            display: inline-block;
            width: 20px;
            font-size: 1em;
        }
    }
}

ul.mvv-ovl-conflict {

    div.mvv-ovl-title {
        margin-right: 150px;
        display: inline-block;
       /* margin-top: -21px; */
    }

    .mvv-ovl-modulteil {
        > div {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            width: 150px;

            &:first-of-type {
                position: relative;
                top: -21px;
                left: 18px;
                width: auto;
                text-align: left;
                border-bottom: solid 1px var(--light-gray-color-40);
                padding-right: 150px;
            }

            & > div {
                display: inline-block;
                width: 20px;
                text-align: left;
            }
        }

        > ul {
            top: -21px;
        }
    }
}

.mvv-overlapping-exclude {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5) url("#{$image-path}/icons/blue/visibility-visible.svg") center center no-repeat;

    &.mvv-overlapping-invisible {
        background: rgba(255, 255, 255, 0.5) url("#{$image-path}/icons/blue/visibility-invisible.svg") center center no-repeat;
    }
}

#admin-overlapping-index {
    .select2-dropdown .select2-results .select2-results__option {
        word-wrap: break-word;
        white-space: normal;
    }
    .select2-selection__rendered .select2-selection__choice .select2-selection__content {
        white-space: normal;
    }
}
