#notification_marker {
    padding: 0 8px;
    width: 100%;
    height: 100%;
    color: var(--color--font-primary);
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: var(--border-radius-avatar-menu);
    background-color: var(--color--header-inverted);

    .count {
        padding: 0 5px;
    }

    svg {
        vertical-align: middle;
        margin-top: -3px;
    }

    &.alert {
        background-color: var(--color--warning);
        color: var(--color--font-inverted);
    }
}

#notification-container {
    $arrow-height: 10px;
    border-radius: var(--border-radius-avatar-menu);
    $list-width: 400px;
    height: 30px;
    color: var(--base-color);
    vertical-align: text-bottom;
    position: relative;

    // Insert invisible padding on top of the arrow in order to try to
    // close the "mouse trap gap" created by the arrow as well as an invisible
    // 25px border to the left
    &:hover::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -$arrow-height;
        left: (-$list-width);
        right: 0;
        height: $arrow-height;

        // The following transformations eliminates a bug that would expand
        // the #top-bar when the container is hovered
        transform: translate3d(0, 0, 0);
    }
    &:hover::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 25px;
    }

    .list {
        display:none;
    }

    &.hoverable:hover {
        .list { display: block; }
    }

    #notification_checkbox {
        display: none;
    }

    &.hoverable #notification_checkbox:checked + #notification_list {
        display: block;
    }

    #notification_list {
        z-index: 1001;
        margin-top: 10px;
        ul {
            width: 100%;
            padding: 0;
        }
        .more {
            font-size: 0.8em;
            text-align: center;
        }
    }
    .list {

        ul {
            list-style-type: none;
        }

        // Creates an arrow pointing from the list to the triggering element
        @include arrow-top-border(10px, $white, 1px, $light-gray-color-80);

        background-color: var(--white);
        border-left: thin solid var(--light-gray-color-60);
        border-top: thin solid var(--light-gray-color-60);
        border-collapse: collapse;
        color: var(--black);
        display: none;
        font-size: 1em;
        position: absolute;
        width: $list-width;
        max-width: $list-width;
        box-shadow: 1px 1px 1px var(--light-gray-color-80);
        padding: 5px;
        border-radius: var(--border-radius-default);

        // Without this, buttons or message boxes would appear on top of the list
        z-index: 2;
        &::before,
        &::after {
            left: ($list-width - 30px);
        }

        &::after {
            border-width: 10px;
            bottom: calc(100% - 1px);
        }

        // Positions: below or left'ish or right'ish to the triggering element
        &.below {
            left: (-$list-width + 33px);
        }
        &.left {
            right: 0;
            &:before {
                left: auto;
                right: 4px;
            }
        }
        &.right {
            left: 0;
            &:before { left: 4px; }
        }

        // List item
        .item {
            $padding: 7px 5px;
            border-top: thin solid var(--color--action-menu-divider);
            line-height: 20px;
            height: auto;
            padding: $padding;
            white-space: normal;

            &:hover {
                background-color: var(--color--action-menu-hover)
            }

            // First child: no top-border
            &:first-child {
                border-top: 0;
            }

            .main {
                display: flex;
                flex-direction: row;

                .content {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    flex-grow: 1;

                    .avatar {
                        color: var(--color--highlight);
                        $avatar-size: 36px;
                        margin-right: 10px;
                        margin-left: 0;
                        background-position: center center;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        width: $avatar-size;
                        height: $avatar-size;
                        min-width: $avatar-size;
                    }
                }
            }
        }

        a:not(.mark-all-as-read) {
            color: var(--color--highlight);
            display: block;
            padding: 0;
            &:hover {
                color: var(--color--highlight-hover);
                text-decoration: none;
            }
        }

        a.mark-all-as-read:not(.invisible),
        a.enable-desktop-notifications {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: thin solid var(--color--action-menu-divider);
            max-height: 31px;
            padding: 7px 7px 7px 9px;
            z-index: 3;
        }

        a.mark-all-as-read {
            @include icon(after, 'accept', $align: middle);
            color: var(--color--highlight);
        }
        a.enable-desktop-notifications {
            @include icon(after, 'notification', $align: middle);
            color: var(--color--highlight);
        }

        .options {
            border: 0;
            background: none;
            cursor: pointer;
            height: 24px;
            color: var(--color--highlight);

            &.hidden { visibility: hidden; }
        }
        .item:hover .options.hidden { visibility: visible; }
    }

    .emoji-icon {
        font-family: apple color emoji, segoe ui emoji, notocoloremoji, segoe ui symbol, android emoji, emojisymbols, emojione mozilla;
        font-size: 20px;
        margin-right: 10px;
    }
}
