.qr-code-display {
    height: 100%;
    width: 100%;

    h1 {
        display: none;
    }

    .code {
        height: 90%;
        text-align: center;
        width: auto;

        canvas {
            height: 100%;
            margin: auto;
            object-fit: contain;
            width: auto;
        }
    }

    @media (orientation: portrait) {
        .code {
            height: auto;
            width: 100%;

            canvas {
                height: auto;
                width: 100%;
            }
        }
    }

    .url,
    .description {
        margin-top: 1em;
        text-align: center;
        word-break: auto-phrase;
    }

    &:fullscreen {
        background: var(--white);
        padding-top: 2em;

        h1 {
            display: initial;
            font-size: 3em;
        }

        .code {
            max-height: 80%;
        }
    }

    @media not print {
        & > img {
            display: none;
        }
    }
}
