.studip-v-select, .studip-v-select-detachted-ul {
    max-width: 48em;
    margin-top: 0.5ex;

    .vs__option-with-icon{
        padding-left: 8px;
    }

    .vs__option-color {
        border: solid thin var(--content-color-40);
        padding-left: 20px;
        height: 16px;
        margin-right: 4px;
    }

    .vs__dropdown-toggle {
        max-height: 32px;
        padding: 0 0 5px;
    }

    .vs__dropdown-menu, &.vs__dropdown-menu {
        border-radius: var(--border-radius-default);
    }

    .vs__dropdown-option {
        display: flex;
        flex-direction: row;
    }

    .vs__actions .studip-icon {
        line-height: 10px;
    }

    &.studip-v-select-drop-up {
        border-bottom: solid thin var(--content-color-40);
        border-top: none;
    }

    &.studip-v-select-ul-drop-up {
        border-bottom: none;
        border-top: solid thin var(--content-color-40);
        box-shadow: 0px -3px 6px 0 rgba(0, 0, 0, 0.15);
    }

    &.studip-v-select-ul-dialog {
        z-index: 3002;
    }
}

form.default .studip-v-select .vs__selected {
    padding: 0;
    margin: 2px 2px 0;
}



.vs {
    &__open-indicator,
    &__clear,
    &__deselect {
        fill: $base-color !important;
    }

    &__dropdown-toggle,
    &__dropdown-menu {
        border: 1px solid $light-gray-color-40 !important;
    }

    &__dropdown-menu {
        margin-top: 5px !important;
        box-shadow: none !important;
    }

    &__deselect,
    &__clear {
        height: 15px;
        width: 15px;
        $icon: icon-path(decline, clickable);
        background-image: url("#{$icon}") !important;
        background-size: 15px 15px !important;

        svg {
            display: none;
        }
    }

    &__dropdown-toggle {
        max-height: fit-content;
    }

    &__open-indicator {
        color: var(--color--brand-primary);
    }
}

.multiselect__tags {
    background-color: red !important;
}
