@keyframes skip_link_fading {
    from {
        opacity: 0;
        left: 50vw;
    }

    100% {
        opacity: 1.0;
    }

    to {
        left: -600px;
    }
}

/* skiplink-area highlighting -------------------------------------------- */
#skip_link_navigation {
    background-color: $white;
    border: 2px solid $orange;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 20px;
    z-index: 3000;

    .active {
        animation-name: skip_link_fading;
        animation-duration: 500ms;
        animation-direction: normal;
        animation-iteration-count: 1;
    }

    .inactive {
        animation-name: skip_link_fading;
        animation-duration: 500ms;
        animation-direction: reverse;
        animation-iteration-count: 1;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.skip_target {
    position: absolute;
    @include hide-text();
}

#skiplink_list {
    display: none;
}

button.skiplink {
    border: 0;
    background-color: $white;
    color: $base-color;
    line-height: 1em;
    margin-bottom: 0.1em;
}

body.enable-skiplinks {
    *:not(:empty):focus {
        outline: 2px dashed $orange;
    }

    #tabs {
        a:focus {
            position: relative;
            z-index: 100;
        }
    }
}
