#course-studygroup-members {
    #content h3:first-of-type {
        margin-top: 0;
    }
}

ul.studygroup-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding-left: 0;
    li {
        box-sizing: border-box;
        display: inline-blocK;
        flex: 0 0 120px;
        min-height: 150px;
        overflow: hidden;
        text-align: center;
        vertical-align: top;
        width: 120px;
    }
}

.studygroupmemberlist {
    .member-avatar {
        position: relative;
        img {
            margin-right: 5px;
        }
    }
    .new-member .member-avatar {
        @include icon(after, star, new, 12px);
        &::after {
            position: absolute;
            margin: -1px 0 0 -14px;
        }
    }
    tr > .actions {
        text-align: right;
        white-space: nowrap;
    }
}

.studygroup-browse {
  td.studygroup-title {
    a {
      display: block;
      max-width: 40em;
      min-width: 15em;
    }
  }
}
