@use 'variables';

#system-notifications {
    &.bottom-right {
        bottom: 40px;
        right: 15px;

        .system-notification {
            &.system-notification-slide-enter,
            &.system-notification-slide-leave-to {
                opacity: 0;
                transform: translateX(100%);
            }

            &.system-notification-slide-leave,
            &.system-notification-slide-enter-to {
                opacity: 1;
                transform: translateX(0);
            }

            &.system-notification-slide-enter-active,
            &.system-notification-slide-leave-active {
                transition: all var(--transition-duration-superslow) ease-in-out;
            }
        }

        &:not(.system-notifications-login) {
            position: fixed;
            width: 400px;
        }

    }

    &.top-center {
        left: calc(50% - 300px);
        top: 41px;

        .system-notification {
            &.system-notification-slide-enter,
            &.system-notification-slide-leave-to {
                opacity: 0;
                transform: translateY(-100%);
            }

            &.system-notification-slide-leave,
            &.system-notification-slide-enter-to {
                opacity: 1;
                transform: translateY(0);
            }

            &.system-notification-slide-enter-active,
            &.system-notification-slide-leave-active {
                transition: all var(--transition-duration-slow) ease-in-out;
            }

        }

        &:not(.system-notifications-login) {
            position: fixed;
            width: 600px;
        }

    }

    &.system-notifications-login {
        margin-bottom: 15px;
        overflow: hidden;
    }

    overflow: visible;
    z-index: 1000;
}

.system-notification {
    background-color: var(--content-color-20);
    color: var(--white);
    cursor: pointer;
    display: flex;
    margin-bottom: 6px;
    min-height: 60px;
    padding: 5px;
    position: relative;

    .system-notification-icon {
        flex: 0;
        padding: 10px;
    }

    .system-notification-content {
        flex: 1;
        height: auto;
        margin: auto 25px auto 10px;
        word-wrap: break-word;

        .system-notification-details {
            .system-notification-details-content {
                padding-left: 10px;
            }
        }
    }

    .system-notification-close {
        align-self: normal;
        display: none;
        flex: 0;
        height: 20px;
        width: 20px;

        img, svg {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .system-notification-timeout {
        &.system-notification-timeout-enter-active,
        &.system-notification-timeout-leave-active {
            transition: width 5s linear;
        }

        &.system-notification-timeout-enter {
            width: 100%;
        }

        &.system-notification-timeout-leave {
            width: 0;
        }

        background-color: var(--base-color-40);
        bottom: 0;
        height: 5px;
        left: 0;
        position: absolute;
        width: 0;
    }

    &.system-notification-disrupted .system-notification-timeout {
        display: none;
    }

    a:not(.system-notification-message) {
        color: var(--white);
        text-decoration-line: underline;
    }

    a.system-notification-message {
        color: var(--white);
        text-decoration: unset;
    }

    &:hover {
        .system-notification-close {
            display: unset;
        }
    }

}

.system-notification-exception {
    background-color: var(--red);
    color: var(--white);

    .system-notification-timeout {
        background-color: var(--red-40);
    }
}

.system-notification-error {
    background-color: var(--red);
    color: var(--white);

    .system-notification-timeout {
        background-color: var(--red-40);
    }
}

.system-notification-warning {
    background-color: var(--yellow);
    color: var(--black);

    .system-notification-timeout {
        background-color: var(--yellow-40);
    }

    a:not(.system-notification-message) {
        color: var(--black);
        text-decoration-line: underline;
    }

    a.system-notification-message {
        color: var(--white);
        text-decoration: unset;
    }

}

.system-notification-success {
    background-color: var(--green);

    .system-notification-timeout {
        background-color: var(--green-40);
    }
}

.system-notification-info {
    background-color: var(--dark-violet);

    .system-notification-timeout {
        background-color: var(--dark-violet-40);
    }
}
