@import "../mixins/misc.scss";
@import '../mixins/colors.scss';

// Typography
$text-color:              #000;

$font-family-base:        "Lato", sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil($font-size-base * 1.25); // ~18px
$font-size-small:         ceil($font-size-base * 0.85); // ~12px

$font-size-h1:            floor($font-size-base * 1.4); // ~36px
$font-size-h2:            floor($font-size-base * 1.2); // ~30px
$font-size-h3:            ceil($font-size-base * 1.1); // ~24px
$font-size-h4:            $font-size-base; // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            $font-size-base;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor($font-size-base * $line-height-base); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    700;
$headings-line-height:    1.1;
$headings-color:          #000;

// Design specific
$bar-bottom-container-height: 40px;
$header-height: 80px;

//Avatar sizes:
$avatar-small:  25px;
$avatar-medium: 100px;
$avatar-normal: 250px;

$sidebar-border-width: 1px;

$drag_and_drop_z_index: 1000;
$drag_and_drop_border: 1px solid $base-color;

$transition-duration: .3s;
$transition-duration-slow: .5s;

// Layout
$page-margin: 15px;

$sidebar-padding: 12px;
$sidebar-width: 270px;

$content-width: 400px;
$content-margin: 12px;
$max-content-width: 4 * $sidebar-width + $page-margin;

$footer-height: 32px;

$site-width: ($page-margin * 2 + $sidebar-width + $sidebar-padding * 2 + $sidebar-border-width * 2 + $content-width + $content-margin * 2);
$page-width: ($sidebar-width + $sidebar-padding * 2 + $sidebar-border-width * 2 + $content-width + $content-margin * 2);

$grid-gap: 0;
